.ntbk-select > .uk-list > li > div > span.uk-icon {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.ntbk-select > .uk-list > li > div > span.uk-icon.empty {
  width: 1.118em;
}

.ntbk-select > .uk-list > li > div {
  padding: .4em 0 .2em 0;
}

.ntbk-select > .uk-list > li:hover {
  background: #1e87f0 !important;
}
