.facebook-button {
  background: #3b5998 !important;
}

.google-button {
  background: #34a853 !important;
  // #4285f3
  // #fbbc05
	// #ea4335
}

.twitter-button {
  background: #0084b4 !important;
}

.facebook-button:hover,
.google-button:hover,
.twitter-button:hover {
  background: inherit !important;
}
